@import "assets/css/screen";
@import "assets/css/grid";
@import "assets/css/styles";

body {
  background: darkblue;
  padding: 1em;
}

.needle {
  fill: beige;
}

.pie.you {
  fill: cornflowerblue;
}

.pie.others {
  fill: blueviolet;
}

.pie.time {
  fill: beige;
}

text {
  fill: beige;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 7em;
}
