@import "assets/css/screen";
@import "assets/css/grid";
@import "assets/css/styles";

body {
  background: darkblue;
  padding: 1em;
}

.needle {
  fill: beige;
}

.pie.time {
  fill: beige;
}

text.game-value {
  fill: beige;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 5em;
}

text.odds {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.you {
  fill: cornflowerblue;
}

.others {
  fill: blueviolet;
}
