@import "assets/css/screen";
@import "assets/css/grid";
@import "assets/css/styles";

body {
  background: darkblue;
}

.needle {
  fill: beige;
}

.pie.you {
  fill: cornflowerblue;
}

.pie.others {
  fill: blueviolet;
}

.pie.time {
  fill: beige;
}

